<!doctype html>
<html>
	<head>
		<title><%=shopData.shopName%> Shop</title>
		<link rel="stylesheet"  type="text/css" href="/main.css" />
	</head>
	<body>
		<h1><%=shopData.shopName%> Shop</h1>
		<h2>Here are the books that we sell:</h2>
		<ul>
			<% if (availableBooks && availableBooks.length) { %>
				<% availableBooks.forEach(function(book){ %>
					<li>
						<%= book.name %>, £<%= Number(book.price).toFixed(2) %>
					</li>
				<% }) %>
			<% } else { %>
				<li>No books available.</li>
			<% } %>
		</ul>
	</body>
	</html>
